@charset "UTF-8";

/*!
* sequence-animate.css
* Version - 1.0
* Licensed under the MIT license - http://opensource.org/licenses/MIT
*
* Copyright (c) 2018 Marco Cappa
*/


/* .slideInUp */

@-webkit-keyframes slide-in-up {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in-up {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
    }
}

.in-view .slideInUp {
    animation: slide-in-up 1s forwards;
}


/* .slideInDown */

@-webkit-keyframes slide-in-down {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in-down {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
    }
}

.in-view .slideInDown {
    animation: slide-in-down 1s forwards;
}


/* .slideInRight */

@-webkit-keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
    }
}

.in-view .slideInRight {
    animation: slide-in-right 1s forwards;
}


/* .slideInLeft */

@-webkit-keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
    }
}

.in-view .slideInLeft {
    animation: slide-in-left 1s forwards;
}


/* .zoomIn */

@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2);
        transform: scale3d(0.2, 0.2, 0.2);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2);
        transform: scale3d(0.2, 0.2, 0.2);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.in-view .zoomIn {
    -webkit-animation: zoomIn 1s forwards;
    animation: zoomIn 1s forwards;
}


/* .zoomInUp */

@-webkit-keyframes zoomInUp {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2) translate3d(0, 1000px, 0);
        transform: scale3d(0.2, 0.2, 0.2) translate3d(0, 1000px, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes zoomInUp {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2) translate3d(0, 1000px, 0);
        transform: scale3d(0.2, 0.2, 0.2) translate3d(0, 1000px, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.in-view .zoomInUp {
    -webkit-animation: zoomInUp 1s forwards;
    animation: zoomInUp 1s forwards;
}


/* .zoomInDown */

@-webkit-keyframes zoomInDown {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2) translate3d(0, -1000px, 0);
        transform: scale3d(0.2, 0.2, 0.2) translate3d(0, -1000px, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes zoomInDown {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2) translate3d(0, -1000px, 0);
        transform: scale3d(0.2, 0.2, 0.2) translate3d(0, -1000px, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.in-view .zoomInDown {
    -webkit-animation: zoomInDown 1s forwards;
    animation: zoomInDown 1s forwards;
}


/* .zoomInRight */

@-webkit-keyframes zoomInRight {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2) translate3d(-1000px, 0, 0);
        transform: scale3d(0.2, 0.2, 0.2) translate3d(-1000px, 0, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(-10px, 0, 0);
        transform: scale3d(1.1, 1.1, 1.1) translate3d(-10px, 0, 0);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes zoomInRight {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2) translate3d(-1000px, 0, 0);
        transform: scale3d(0.2, 0.2, 0.2) translate3d(-1000px, 0, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(-10px, 0, 0);
        transform: scale3d(1.1, 1.1, 1.1) translate3d(-10px, 0, 0);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.in-view .zoomInRight {
    -webkit-animation: zoomInRight 1s forwards;
    animation: zoomInRight 1s forwards;
}


/* .zoomInRight */

@-webkit-keyframes zoomInLeft {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2) translate3d(1000px, 0, 0);
        transform: scale3d(0.2, 0.2, 0.2) translate3d(1000px, 0, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(10px, 0, 0);
        transform: scale3d(1.1, 1.1, 1.1) translate3d(10px, 0, 0);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes zoomInLeft {
    from {
        -webkit-transform: scale3d(0.2, 0.2, 0.2) translate3d(1000px, 0, 0);
        transform: scale3d(0.2, 0.2, 0.2) translate3d(1000px, 0, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(10px, 0, 0);
        transform: scale3d(1.1, 1.1, 1.1) translate3d(10px, 0, 0);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.in-view .zoomInLeft {
    -webkit-animation: zoomInLeft 1s forwards;
    animation: zoomInLeft 1s forwards;
}


/* twelve classes with animation-delay */

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
    opacity: 0;
}

.in-view .one {
    animation-delay: 0;
}

.in-view .two {
    animation-delay: 0.3s;
}

.in-view .three {
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.in-view .four {
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.in-view .five {
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

.in-view .six {
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.in-view .seven {
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}

.in-view .eight {
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
}

.in-view .nine {
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
}

.in-view .ten {
    animation-delay: 2.7s;
    animation-fill-mode: forwards;
}

.in-view .eleven {
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.in-view .twelve {
    animation-delay: 3.3s;
    animation-fill-mode: forwards;
}